.header02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;

    * {
        margin: 0;
        padding: 0;
        // box-sizing: border-box;
    }

    .container {
        min-width: 100vw;
        min-height: 100vh;
        // background: wheat;
        // margin-inline: auto;
    }

    .navbar {

        width: 1570px;
        height: 96px;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        // background:rgb(75, 72, 72);
        .left {

            height: 96px;
            display: flex;

            .logo {
                width: 96px;
                height: 96px;
                background: yellow;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 29px;
                    height: 29px;

                }
            }

            .navs {
                min-width: 306px;
                height: 96px;
                display: flex;
            }

            .navs-item {
                width: 306px;
                height: 100%;
                background: rgba(237, 113, 97, 1);

                .title {
                    position: relative;
                    width: 147px;
                    height: 28px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    opacity: 1;
                    /** 文本1 */
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 0px;
                    line-height: 27.44px;
                    color: rgba(251, 248, 229, 1);
                    text-align: left;
                    vertical-align: top;

                    &:hover {
                        text-decoration: underline;
                    }

                }
            }
        }

        .right {
            .accounts {
                width: 153px;
                height: 40px;
                opacity: 1;
                background: red;
            }
        }

    }
}