.header01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow-x: hidden;

  * {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
  }

  .container {
    min-width: 100vw;
    min-height: 100vh;
    // background: wheat;
    // margin-inline: auto;
  }
  .bottom_bcg {
    position: absolute;

    top: 23rem;
    width: 96rem;
    height: 33rem;
    background: rgb(255, 76, 2);
    z-index: 0;
  }
  .center_bcg {
    position: absolute;
    left: 6.75rem;
    top: 6.7rem;
    width: 82.5rem;
    height: 42.55rem;
    background: rgba(0, 214, 184, 1);
  }
  .column_bcg {
    position: absolute;
    left: 13.5rem;
    width: 29.4rem;
    height: 56rem;
    opacity: 1;
    background: rgba(0, 214, 184, 1);
  }
  .topicon {
    position: absolute;
    left: 15rem;
    top: 2rem;
    width: 2.95rem;
    height: 1.95rem;
    border-bottom: 0.2rem black solid;
    /** 文本1 */
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0rem;
    line-height: 0.96rem;
    color: rgba(25, 28, 36, 1);
    text-align: left;
    vertical-align: top;
    z-index: 2;
  }
  .logobar {
    position: absolute;
    left: 2.1rem;
    top: 2.05rem;
    width: 90.55rem;
    height: 8.4rem;
    display: flex;
    justify-content: space-between;
    .left {
      img {
        width: 2.55rem;
      }
    }
    .right {
      font-size: 0.6rem;
      line-height: 1.8rem;
    }
    z-index: 1;
  }
  .list_trigger {
    position: absolute;
    left: 6.75rem;
    top: 6.7rem;
    width: 6.75rem;
    height: 16.3rem;
    opacity: 1;
    background: rgba(255, 239, 2, 1);
    z-index: 2;
    img {
      position: relative;
      top: 3rem;
      width: 1.5rem;
      height: 0.95rem;
      opacity: 1;
    }
  }

  .download_texticon {
    position: absolute;
    top: 42.5rem;
    z-index: 4;
    .inner {
      position: relative;
      width: 28.25rem;
      height: 6.75rem;
      opacity: 1;
      background: rgba(255, 76, 2, .81);
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        /** 文本1 */
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.05rem;
        line-height: 1.6rem;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        vertical-align: top;
      }
      .icon {
        text-align: center;
        width: 4rem;
        font-size: 1.4rem;
        font-weight: 900;
        letter-spacing: 0.05rem;
        line-height: 1.6rem;
        color: rgba(255, 255, 255, 1);
        vertical-align: top;
      }
    }
  }
  .download_icon {
    position: absolute;
    left: 89.25rem;
    top: 42.5rem;
    width: 6.75rem;
    height: 6.75rem;
    opacity: 1;
    background: rgba(0, 214, 184, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .cursored {
    cursor: pointer;
  }

  .textboard {
    position: absolute;
    left: 52.6rem;
    top: 9.5rem;
    width: 31.05rem;
    height: 35.18rem;
    opacity: 1;
    z-index: 3;

    background: url(https://ui-collections-1256331022.cos.ap-nanjing.myqcloud.com/icons/header01bcg.png);
    // background: linear-gradient(60deg, red, yellow, red, yellow, red);
    background-position: 82% 85%;
    background-size: 400%;

    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(1, 0, 0, 0);
    font-size: 9rem;
    text-align: right;
    letter-spacing: 0.5rem;
    font-weight: 900;
    // font-family: "Lucida Sans";
  }

  .textcenter {
    position: absolute;
    left: 42.95rem;
    top: 26.1rem;
    width: 12.65rem;
    height: 4.15rem;
    opacity: 1;
    /** 文本1 */
    .text1 {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.05rem;
      line-height: 1.92rem;
      color: rgba(0, 0, 0, 1);
      text-align: left;
    }
    /** 文本2 */
    .text2 {
      font-size: 0.8rem;
      font-weight: 500;
      letter-spacing: 0rem;
      line-height: 1.1rem;
      color: rgba(0, 0, 0, 1);
      text-align: left;
      vertical-align: top;
    }
  }
  .bottom_footer {
    position: absolute;
    left: 42.9rem;
    top: 49.25rem;
    opacity: 1;
    .inner {
      left: 0rem;
      top: 0rem;
      width: 51.1rem;
      height: 4.75rem;
      opacity: 1;
      background: rgba(255, 239, 2, 1);
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        a {
          color: black;
        }
      }
    }
  }

  .threefiber {
    position: absolute;
    left: 13.5rem;
    top: 6.7rem;
    width: 29.4rem;
    height: 49.3rem;
    opacity: 1;
    // background: rgba(0, 14, 184, 1);
    z-index: 3;
  }
}
